/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }

/* Testing stage CSS */

div {
  border: 1px solid black;
}

div.canvas-container {
  border: 3px solid orange;
}
section.game-info-container {
  border: 3px solid brown;
}

div.lives {
  border: 1px solid red;
}

div.time {
  border: 1px solid blue;  
}

div.points {
  border: 1px solid green;
}

.game-info-container {
  display:flex;
  justify-content: space-evenly;
}