/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-image: url('../images/body-background.png');
    background-repeat: no-repeat;
		background-size: cover;
    background-position: center;
    background-color: darkblue;
    font-family: 'Press Start 2P', cursive;
  }


main h1 {
  color: orange;
  font-size:5em;
  margin: 0 auto;
  border: 5px solid orange;
  width: min-content;
  padding: 30px 90px;
  margin-top: 15%;
}

.buttons-container {
  display:flex;
  justify-content: space-evenly;
  align-content: center;
  padding: 10%;
}

button {
	background: orange;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px orange;
}
button:hover, button:focus {
  background: #ec7e17;
  box-shadow: inset -6px -6px 0px 0px orange;
}
button:active {
  box-shadow: inset 4px 4px 0px 0px orange;
}
button:before, button:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
button:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
button:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}
button--reset {
  background: #E76E55;
  box-shadow: inset -4px -4px 0px 0px #8C2022;
}
button--reset:hover, button--reset:focus {
  background: #CE372B;
  box-shadow: inset -6px -6px 0px 0px #8C2022;
}
button--reset:active {
  box-shadow: inset 4px 4px 0px 0px #8C2022;
}
button--proceed {
  background: #F7D51D;
  box-shadow: inset -4px -4px 0px 0px #E59400;
}
button--proceed:hover, button--proceed:focus {
  background: #F2C409;
  box-shadow: inset -6px -6px 0px 0px #E59400;
}
button--proceed:active {
  box-shadow: inset 4px 4px 0px 0px #E59400;
}

*, *:before, *:after {
  box-sizing: border-box;
}


div.canvas-container { 
  width: 1000px;
  margin: 0 auto;
  background-color: black;
  margin-top:30px;
}
canvas {
  border: 10px solid orange;
  height: 600px;
  width: 1000px;
  
}

section.game-info-container {
  border: 10px solid orange;
  display:flex;
  height: 100px;
  width: 1000px;
  margin:0 auto;
  margin-top:50px;
  display:flex;
  justify-content: space-evenly;
  padding:0;
  background-color: orange;
  text-align: center;

  
}

.game-info-container div {
  border: 10px solid orange;
  height: 100%;
  width: 34%;
  background-color: orange;
  font-size: 2em;
}


.game-over {
  position: absolute;
  left: 21.5%;
  top: 6%;
  color: red;
  background-color: white;
  width: 950px;
  height: 550px;
  text-align: center;
  font-size: 2em;
  background-image: url(../images/game-over.jpg);
  background-repeat: no-repeat;
	background-size: cover;
  background-position: center;
  background-color: darkblue;
  padding: 30px;
}
.game-over h1{
  font-size: 2em;
  width: fit-content;
  color: red;
  border-color:red;
  padding-top: -50px;
}
.game-over-hidden {
  display:none;
}

.game-over div {
  margin-top: 30px;
}
.game-over button {
  padding-right: 20px;
}
.game-over-buttons-container {
  display: flex;
  justify-content: space-around;
}


.score-screen div {
  background-color: orange;
  color: white;
  text-align: center;
  width:fit-content;
  padding:1%;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 1%;
}
li {
  list-style-type: none;
  padding: 5px 10px;
}

span.player-score {
  padding:10px;
}

#return-main{
  margin:0 auto;
}

.score-screen h1 {
  color: orange;
  font-size:5em;
  margin: 0 auto;
  border: 5px solid orange;
  width: min-content;
  padding: 30px 90px;
  margin-top: 5%;
  text-align: center;  
}